html {
    background-image: url("https://konachan.net/sample/b7ccae3433281490c11d5dd5d2dbfcdb/Konachan.com%20-%2037341%20sample.jpg");
}

body {
    alignment: center;
    text-align: center;
    align-content: center;
}

div {
    background-color: antiquewhite;
    opacity: 60%;
}
/*h1.index_title {*/
/*    text-align: center;*/
/*    background-color: black;*/
/*}*/