body {
    alignment: center;
    text-align: center;
    align-content: center;
    color: white;
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    opacity: 80%;
    font-size: large;
}

h1.my_name {
    font-size: small;
    text-align: center;
    margin-top: -20px;
    font-family: monospace;
    color: brown;
}

a {
    color: white;
}

/*h1.index_title {*/
/*    text-align: center;*/
/*    background-color: black;*/
/*}*/