body {
    background-color: black;
    color: white;
    font-size: large;
}

a {
    color: black;
}

.container {
    justify-content: center;
    text-align: center;
    display: grid;
}

/*h1.index_title {*/
/*    text-align: center;*/
/*    background-color: black;*/
/*}*/