html {
    background-image: url("https://konachan.net/sample/b7ccae3433281490c11d5dd5d2dbfcdb/Konachan.com%20-%2037341%20sample.jpg");
}

body {
    color: white;
    background-color: black;
    margin-left: 20%;
    margin-right: 20%;
    opacity: 80%;
    font-size: large;
}

div {
    padding: 5%;
}

h1.my_name {
    font-size: small;
    text-align: center;
    margin-top: -20px;
    font-family: monospace;
}

a {
    color: yellow;
}

/*h1.index_title {*/
/*    text-align: center;*/
/*    background-color: black;*/
/*}*/